html{
    background-color:rgb(234, 102, 124);
}
img {
    border: 5px solid #555;
  }
img{ width: 200px; height: 200px;}
h1{
    color:chartreuse;
}
h2{color:rgb(243, 70, 6);}
p{color:rgb(251, 255, 249);}
table {color:rgb(127, 4, 4)}