html{
    background-color:rgb(234, 102, 124);
}
body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
    border: 5px solid #555;
  }
  img{ width: 400px; height: 400px;}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
h1{
    color:chartreuse;
    border: 10px solid;
    
}
h2{color:rgb(243, 70, 6);
  border: 5px solid;
}
p{color:rgb(251, 255, 249);
  border: 5px solid;
}
table {color:rgb(3, 3, 3);
      border-color:lightgoldenrodyellow; 
}

 div{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  p{
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
  }
  img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }